Server Owner            : {{ Server }}
Server Description      : {{ Description }}
Server/App owner        : {{ Owner }}
Production Type         : {{ production }}

_________________________________________________________________________________________________________
